.feature {
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px gray;
    border-radius: 20px;
}

.feature > i {
    font-size: 60px;
    color: darkcyan;
}

.feature > .title {
    display: block;
    margin: 20px 0;
    font-size: 22px;
}

.features-list.row {
    display: grid;
    gap: 20px;
    align-items: start;
}

@media (min-width: 805px) {
    .features-list.row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1050px) {
    .features-list.row{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

