.main-header {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.main-header.white-header {
    background-color: white;
    box-shadow: 0 10px 20px gray;
}

.main-header .row {
    margin-top: 10px;
}

.main-header .col-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .logo > .color {
    display: none;
}

.main-header.white-header .logo > .white {
    display: none;
}
.main-header.white-header .logo > .color {
    display: block;
}

.main-header nav {
    display: flex;
    gap: 20px;
}

.main-header nav > a {
    color: white;
}

.main-header.white-header nav > a {
    color: black;
}