/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/carousel.css';
@import '../components/features.css';
@import '../components/form.css';
@import '../components/header.css';

/* CUSTOM STYLE */

/* header starts here */
/* header ends here */ 

/* hero starts here */
.hero {
    display: flex;
    align-items: center;
}

.hero .hero-form {
    display: grid;
    gap: 20px;
    padding: 30px;
    border-radius: 11px;
    background-color: white;
    color: black;
}

/* hero ends here */ 

/* features starts here */
/* features ends here */ 

/* comunication app starts here */
/* comunication app ends here */ 

/* device manage starts here */
/* device manage ends here */ 

/* how app works starts here */
/* how app works ends here */ 

/* interface slide starts here */
/* interface slide ends here */ 

/* testimonials starts here */
/* testimonials ends here */ 

/* pricing starts here */
/* pricing ends here */ 

/* FAQ starts here */
/* FAQ ends here */ 

/* team starts here */
/* team ends here */ 

/* app store starts here */
/* app store ends here */ 

/* subscribe starts here */
/* subscribe ends here */ 

/* contacts starts here */
/* contacts ends here */ 

/* footer starts here */
/* footer ends here */ 
